* {
  margin: 0;
}

body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #e5e5e5;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  max-width: 1600px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  text-decoration: none;
  margin-left: 220px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.logo h1 {
  font-size: 19.01px;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

.nav {
  display: flex;
}

.nav ul {
  display: flex;
  justify-self: flex-start;
  justify-content: space-between;
  list-style: none;
}

.nav li {
  display: flex;
  flex-grow: 1;
  padding: 29px;
}

.nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.designed_by {
  margin-right: 220px;
}

.designed_by a {
  display: flex;
  justify-self: flex-end;
  text-decoration: none;
  color: #ffffff;
}

.watch_section {
  width: 1600px;
  height: 780px;
  background-image: url("/assets/images/Giant\ Panda.png");
  position: relative;
  top: 0px;
}

.circle {
  width: 465px;
  height: 465px;
  background-color: #f9804b;
  border-radius: 50%;
  position: absolute;
  left: calc(50%);
  top: 12px;
}

.circle_text {
  position: absolute;
  width: 500.31px;
  height: 400px;
  left: calc(15%);
  top: 40px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.circle_text_favorite {
  color: #ffee2e;
}

.watch_section_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  line-height: 140%;
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(35%);
  top: 526px;
  background: #f9804b;
  border-radius: 25px;
}
